[contentEditable=true]:empty:not(:focus):before{
        content:attr(data-ph)
    }

body { 
  margin: 0; 
  padding: 0; 
  font-family: 'Open Sans', sans-serif; 
  color: #3498db;
  width: 320px;
  height: 480px;
  margin: auto;
}

input {
  font-size: 31px;
  padding: 3px 10px;
  border: 0;
  border-bottom: 2px solid #3498db;
  margin: 0 15px;
  width: 84%;
  outline: 0;
  text-align: right;
  border-radius: 0;
  color: #3498db;
}

::-webkit-input-placeholder { color: #ccc; }
:-moz-placeholder { color: #ccc; }
::-moz-placeholder { color: #ccc; }
:-ms-input-placeholder { color: #ccc; }

#container, #container1 { 
  padding-top: 40px;
  width: 270px;
  height: 200px;
  position: relative;
  border: 1px solid #eee;
  margin-top: 10px;
}

.numpad { 
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 0;
  width: 260px;
}

.numpad li {
  font-size: 32px;
  float: left;
  list-style: none;
  text-align: center;
  height: 45px;
  padding-top: 15px;
  width: 33.33%;
  -webkit-font-smoothing: antialiased;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  opacity:1.0;
filter:alpha(opacity=100);

}

.numpad li:hover
{
opacity:0.3;
filter:alpha(opacity=30); /* For IE8 and earlier */
}

#errmsg
{
color: red;
}
